<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>@ViewBag.Title</title>
<link rel="stylesheet" href="@Url.Content("~/Content/mytheme/styles.css")" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/Scripts/galleria/galleria.classic.css")" type="text/css"/>

<link rel="stylesheet" href="@Url.Content("~/Content/slide.css")" type="text/css" media="screen" />
<link rel="stylesheet" href="@Url.Content("~/Content/slidestyle.css")" type="text/css" media="screen" />
<link rel="stylesheet" href="@Url.Content("~/Content/verticaltabs.css")" type="text/css" media="screen" />
<link rel="stylesheet" href="@Url.Content("~/Content/profile.css")" type="text/css" media="screen" />
<link rel="stylesheet" href="@Url.Content("~/Content/textboxlist.css")" type="text/css" media="screen" />
<link rel="stylesheet" href="@Url.Content("~/Content/overlay-apple.css")" type="text/css" media="screen" />
<link rel="stylesheet" href="@Url.Content("~/Content/registration/css/overlay.css")" type="text/css" media="screen" />

			         
<script type="text/javascript" src="@Url.Content("~/Content/mytheme/js/jquery.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/mytheme/js/slider.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Custom/login.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/mytheme/js/superfish.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/galleria/galleria-1.2.2.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/galleria/galleria.classic.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.dictionary.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.json-2.2.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.tools.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Custom/registration.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Custom/textBoxList.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Custom/growingInput.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Custom/textBoxList.AutoComplete.js")"></script>

<!--script type="text/javascript" src="@Url.Content("~/Scripts/verticaltabs/verticaltabs.js")"></script-->
<script type="text/javascript" src="@Url.Content("~/Scripts/jexpand/jExpand.js")"></script>
<script src="@Url.Content("~/Scripts/loginslider/slide.js")" type="text/javascript"></script>


@(Html.Telerik().StyleSheetRegistrar()
                      .DefaultGroup(group => group
                                 .Add("~/Content/telerik.common.min.css")
                                 .Add("~/Content/telerik.sunset.min.css")
                                 .Add("~/Content/telerik.rtl.min.css")
                     ))

@{ Html.Telerik().ScriptRegistrar()
        .OnDocumentReady(@<text>
            // open the initially hidden window when the button is clicked
            $('#feedback-open-button')
                .click(function(e) {
                    e.preventDefault();
                    $('#Window').data('tWindow').center().open();
                }); 
                
                $('#register')
                .click(function(e) {
                    e.preventDefault();
                    $("div#panel").slideUp("slow");	
                    $('#RegistrationOverlay').data('tWindow').center().open();
                });
            // add button hovers
            $('.t-button').live('mouseenter', $.telerik.buttonHover)
                            .live('mouseleave', $.telerik.buttonLeave);
        </text>); }


<script type="text/javascript">
    function show() {
        var element = $("#readMore");
        if (element.hasClass("hidden")) {
            element.removeClass("hidden");
        }
        else {
            element.addClass("hidden");
        }
    }

    function openWindow() {
        var windowElement = $('#Window');
        windowElement.data('tWindow').center().open();
    }  
    
   
  
    $(document).ready(function () {
        $("#accordion").accordion();
    });
   </script>

</head>


<body class="homepage">

@{  Html.Telerik().Window()
        .Name("Window")
        .Title("Submit feedback")
        .Content(@<text>
         @using (Html.BeginForm("Submit", "Home", FormMethod.Post))
         {
                <div id="feedback-form">
                <label for="name">Name:</label>
                @Html.TextBox("name") 
                <label  for="email">E-mail:</label>
                @Html.TextBox("email") 
                <label for="comment-value">Comments:</label>
                @(Html.Telerik().Editor()
                        .Name("comment")
                        .Tools(tools => tools
                            .Clear()
                            .Bold().Italic().Separator()
                            .InsertOrderedList().InsertUnorderedList().Separator()
                            .Indent().Outdent()
                        ))
                <div class="form-actions">
                    <button type="submit"  class="t-button t-state-default">Submit feedback!</button>
                </div>
                </div>
         }
            </text>)
        .Width(400)
        .Draggable(true)
        .Modal(true)
        .Visible(false)
        .Render();
}
    

    
@{  Html.Telerik().Window()
        .Name("RegistrationOverlay")
        .Title("Registeration")
        .Content(@<text>
        
            @{
                Layout = null;
             }

        
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Kallivayalil - Registration</title>
        <link rel="stylesheet" href="@Url.Content("~/Content/registration/css/style.css")" type="text/css" media="screen" />
        <link rel="stylesheet" href="@Url.Content("~/Scripts/themes/base/jquery.ui.datepicker.css")" type="text/css" media="screen" />
        <script type="text/javascript" src="@Url.Content("~/Scripts/sliding.form.js")"></script>
        <script>
            $(function () {
                $("#dob").datepicker();
            });
	</script>


    </head>
   
    <body id="reg_body">
        <div id="reg_content">
            <h1>Kallivayalil - Registration</h1>
            <div id="wrapper">
                <div id="steps">
                            @using (Html.BeginForm("Register", "Registration", FormMethod.Post, new { Id = "formElem" }))
                            {

                      <fieldset class="step">
                            <legend>Name</legend>
                           <p>
                                <label for="salutation">Salutation</label>
                                <select id="salutation" name="salutation">
                                    <option value ="1">Mr</option>
                                    <option value ="2">Ms</option>
                                    <option value ="3">Mrs</option>
                                </select>
                            </p>
                            <p>
                                <label for="firstname">First Name</label>
                                <input id="firstname" name="firstname" type="text" AUTOCOMPLETE=OFF />
                            </p>
                             <p>
                                <label for="middlename">Middle Name</label>
                                <input id="middlename" name="middlename" type="text" AUTOCOMPLETE=OFF />
                            </p> 
                            <p>
                                <label for="lastname">Last Name</label>
                                <input id="lastname" name="lastname" type="text" AUTOCOMPLETE=OFF />
                            </p> 
                            <p>
                                <label for="prefferedname">Preffered Name</label>
                                <input id="prefferedname" name="prefferedname" type="text" AUTOCOMPLETE=OFF />
                            </p>
                        </fieldset> 
                        <fieldset class="step">
                            <legend>Personal</legend>
                           <p>
                                <label for="branch">Branch</label>
                                <select id="branch" name="branch">
                                    <option value ="1">Kallivayalil</option>
                                    <option value ="2">Anavalaril</option>
                                    <option value ="3">bla</option>
                                </select>
                            </p>
                            <p>
                                <label for="dob">Date Of Birth</label>
                                <input id="dob" name="dob" type="text" AUTOCOMPLETE=OFF />
                            </p>
                             <p>
                                <label for="gender">Gender</label>
                                <select id="gender" name="gender">
                                    <option value ="M">Male</option>
                                    <option value ="F">Female</option>
                                    <option value ="O">Other</option>
                                </select>
                            </p>
                            <p>
                                <label for="housename">House Name</label>
                                <input id="housename" name="housename" type="text" AUTOCOMPLETE=OFF />
                            </p> 
                             <p>
                                <label for="status">Maritial Status</label>
                                <select id="status" name="status">
                                    <option value ="1">Married</option>
                                    <option value ="2">Single</option>
                                    <option value ="3">Divorced</option>
                                    <option value ="3">Defacto</option>
                                </select>
                            </p>
                        </fieldset>
                        <fieldset class="step">
                            <legend>Address</legend>
                            <p>
                                <label for="line1">Line 1</label>
                                <input id="line1" name="line1" type="text" AUTOCOMPLETE=OFF />
                            </p> 
                            <p>
                                <label for="line2">Line 2</label>
                                <input id="line2" name="line2" type="text" AUTOCOMPLETE=OFF />
                            </p>
                            
                             <p>
                                <label for="city">City</label>
                                <input id="city" name="city" type="text" AUTOCOMPLETE=OFF />
                            </p> 
                             <p>
                                <label for="postcode">Post Code</label>
                                <input id="postcode" name="postcode" type="text" AUTOCOMPLETE=OFF />
                            </p> 
                             <p>
                                <label for="state">State</label>
                                <input id="state" name="state" type="text" AUTOCOMPLETE=OFF />
                            </p> 
                             <p>
                                <label for="country">Country</label>
                                <input id="country" name="country" type="text" AUTOCOMPLETE=OFF />
                            </p>
                        </fieldset>
                        <fieldset class="step">
                            <legend>Contacts</legend>
                             <p>
                                <label for="phonetype">Type</label>
                                <select id="phonetype" name="phonetype">
                                    <option value ="1">Home</option>
                                    <option value ="2">Office</option>
                                    <option value ="3">Mobile</option>
                                </select>
                            </p>
                            <p>
                                <label for="phonenumber">Phone Number</label>
                                <input id="phonenumber" name="phonenumber" />
                            </p>
                        </fieldset>
                        <fieldset class="step">
                            <legend>Account</legend>
                            <p>
                                <label for="email">Email</label>
                                <input id="email" name="email" placeholder="info@info.com" type="email" AUTOCOMPLETE=OFF />
                            </p>
                            <p>
                                <label for="password">Password</label>
                                <input id="password" name="password" type="password" AUTOCOMPLETE=OFF />
                            </p>
							<p>
								The registration details will be submitted to the Admin. Admin will validate and approve the request
                                based on the authenticity of the details.
							</p>
                            <p class="submit">
                                <button id="registerButton" type="submit">Register</button>
                            </p>
                        </fieldset>
                            }
                </div>
                <div id="reg_navigation" style="display:none;">
                    <ul>
                        <li class="selected">
                            <a href="#">Name</a>
                        </li>
                        <li>
                            <a href="#">Personal</a>
                        </li>
                        <li>
                            <a href="#">Address</a>
                        </li>
                        <li>
                            <a href="#">Contacts</a>
                        </li> 
                        <li>
                            <a href="#">Account</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
            </text>)
        .Width(670)
        .Height(537)
        .Scrollable(false)
        .Draggable(true)
        .Modal(true)
        .Visible(false)
        .Render();
}
 
<div class ="wrapper">
<div id="container">
<div id="toppanel">
	<div id="panel">
		<div class="content clearfix">
			<div class="left">
				<h1>Welcome to Kallivayalil</h1>
				<h2>Register</h2>
				<p class="grey">This Registration is accepted by the admins only if your are part of the family.</p>
			</div>
			<div class="left">
				<!-- Login Form -->
               @using (Html.BeginForm("Login", "Home", FormMethod.Post))
               { 
                    <fieldset>
                    <h1>Member Login</h1>
					<label class="grey" for="userName">Username:</label>
					<input class="field" type="text" name="userName" id="userName" value="" size="23" />
					<label class="grey" for="password">Password:</label>
					<input class="field" type="password" name="password" id="password" size="23" />
	            	<label><input name="rememberme" id="rememberme" type="checkbox" checked="checked" value="forever" /> &nbsp;Remember me</label>
        			<div class="clear"></div>
					<input type="submit" name="submit" value="Login" class="bt_login" onclick="login()"/>
					<a class="lost-pwd" href="#">Lost your password?</a>
                    </fieldset>
               }
			</div>
			<div class="left right">	
                   	
				<!-- Register Form -->
					<h1>Not a member yet? Sign Up!</h1>		
                    <input id="register" value="Register" type="submit" />
                      <!--a href="http://localhost/kallivayalil/Registration/Index" class="bt_register" rel="#overlay" style="text-decoration:none">	
    					Register 
                    </a-->
                   
			</div>
		</div>
</div> <!-- /login -->	

<div>
  <!-- overlayed element --> 
                    <div class="apple_overlay" id="overlay"> 
                   
                    <a class="close"></a>
	<!-- the external content is loaded inside this tag --> 
	               <div class="contentWrap"></div> 
 
                    </div> 
</div>


	<!-- The tab on top -->	
	<div class="tab">
		<ul class="login">
			<li class="left">&nbsp;</li>
			<li>Hello @Session["userName"] ! </li>
            	<!--@(string.IsNullOrEmpty(Session["userName"] as string) ? "Guest" : Session["userName"]) -->
			<li class="sep">|</li>
			<li id="toggle">
                @if (string.IsNullOrEmpty(Session["userName"] as string))
                {
				<a id="open" class="open">Log In | Register</a>
				<a id="close" style="display: none;" class="close">Close Panel</a>			
                }
                else
                {
                <a id="logOut" onclick="logout()">Log out</a>
                }

			</li>
			<li class="right">&nbsp;</li>
		</ul> 
	</div> <!-- / top -->
	
</div> <!--panel -->

	<div id="header">
    	<h1><a href="/">Kallivayalil <strong>Family</strong></a></h1>
        <h2>Bringing our family together!</h2>
        <div class="clear"></div>
    </div>
    <div id="nav">
    	<ul class="sf-menu dropdown">
        	<li class="selected"><a href="http://localhost/kallivayalil/">Our Family</a></li>
            @if (!string.IsNullOrEmpty(Session["userName"] as string))
            {
        	<li class="selected"><a href="http://localhost/kallivayalil/Profile/Profile">Profile</a></li>
        	<li class="selected"><a href="http://localhost/kallivayalil/Event/Index">Events</a></li>
        	<li class="selected"><a href="http://localhost/kallivayalil/FamilyTree/Index">FamilyTree</a></li>
        	<li class="selected"><a href="http://localhost/kallivayalil/Search/Index">Search</a></li>                
        	<li  class="selected"><a href="http://localhost/kallivayalil/Committee/Index">Committee Details</a></li>
        	<li id="feedback-open-button" class="selected"><a href="http://localhost/kallivayalil/ContactUs/Index">Contact Us</a></li>
            }
        </ul>
    </div>
    
       <div id="slides-container" class="slides-container"> 
        <div id="galleria">
            	<img title="Snail"
            	     alt="Beautiful Snail.. (Any title for a picture)" 
            	     src="@Url.Content("~/Content/images/img1.jpg")"/>
                <img title="Flowers"
                     alt="”White flowers in the green back ground.”"
                     src="@Url.Content("~/Content/images/img2.jpg")"/>
                <img title="Trees"
                     src="@Url.Content("~/Content/images/img3.jpg")"/>
                <img title="Beach"
                     alt="Pacific Blue!!!"
                     src="@Url.Content("~/Content/images/img4.jpg")"/>
                <img title="Bright Sun"
                     src="@Url.Content("~/Content/images/img5.jpg")"/>
                <img title="Forest"
                     alt="The definition of green."
                     src="@Url.Content("~/Content/images/img6.jpg")"/>
        </div>
        </div>

        <script type="text/javascript">

            $('#galleria').galleria({
                autoplay: 7000, // will move forward every 7 seconds
                height: 265,
                width: 960
            });

    </script>
   
 
    <div id="body">            
	    <div id="content">
            <div class="box">
                @RenderBody()  
            </div>
            </div>        
            <div class="sidebar" id="eventsSidebar">
                <ul  id="accordion">	
               <li>
                    <h4><a href="#"><span>Todays<strong>Events</strong></span></a></h4>
                    <div>
                    <ul class="blocklist">
                    @if (ViewData["events"] != null)
                    {
                        foreach (var ev in ViewData["events"] as IEnumerable<Website.Models.Event>)
                        {
                            if (ev.Type.Description != "Birthday" && ev.Type.Description != "Anniversary")
                            {
                            <li><a id=@string.Format("event_{0}", ev.Id) class="t-group" href="#">@ev.EventTitle</a></li>
                            <div class="tooltip">
	                        <img src="@Url.Content("~/Content/Events/events.jpg")" alt="Flying screens" style="float:left;margin:0 15px 20px 0" />
	                            <table style="margin:0">
		                            <tr>
			                            <td class="label">Description</td>
			                            <td>@ev.EventDescription</td>
		                            </tr>
		                            <tr>
			                            <td class="label">Date</td>
			                            <td>@ev.EndDate.Day</td>
		                            </tr>
		                            <tr>
			                            <td class="label">ContactPerson</td>
			                            <td>@ev.ContactPerson</td>
		                            </tr>
		                            <tr>
			                            <td class="label">ContactNumber</td>
			                            <td>@ev.ContactNumber</td>
		                            </tr>		
	                            </table>
                            </div>

                         <script type="text/javascript">$("@string.Format("#event_{0}", ev.Id)").tooltip({ effect: 'slide'});</script> 
                        
                            }
                        }
                    }
                    </ul>
                    </div>
                </li>
                
                <li>
                    <h4><a href ="#"><span>Birthdays</span></a></h4>
                    <div>
                     <ul class="blocklist">
                    @if (ViewData["events"] != null)
                    {
                        foreach (var ev in ViewData["events"] as IEnumerable<Website.Models.Event>)
                        {
                            if (ev.Type.Description == "Birthday")
                            {
                              <li><a id=@string.Format("event_{0}", ev.Id) class="t-group" href="#">@ev.EventTitle</a></li>
                            <div class="tooltip">
	                        <img src="@Url.Content("~/Content/Events/bday.jpg")" alt="Flying screens" style="float:left;margin:0 15px 20px 0" />
	                            <table style="margin:0">
		                            <tr>
			                            <td class="label">Description</td>
			                            <td>@ev.EventDescription</td>
		                            </tr>
		                            <tr>
			                            <td class="label">Date</td>
			                            <td>@ev.EndDate.Day</td>
		                            </tr>
		                            <tr>
			                            <td class="label">ContactPerson</td>
			                            <td>@ev.ContactPerson</td>
		                            </tr>
		                            <tr>
			                            <td class="label">ContactNumber</td>
			                            <td>@ev.ContactNumber</td>
		                            </tr>		
	                            </table>
                            </div>

                         <script type="text/javascript">$("@string.Format("#event_{0}", ev.Id)").tooltip({ effect: 'slide'});</script> 
                            }
                        }
                    }
                    </ul>
                    </div>
                </li>
                
                <li>
                    <h4 class="h4"><a href="#"><span><strong>Anniversaries</strong></span></a></h4>
                    <div>
                     <ul class="blocklist">
                      @if (ViewData["events"] != null)
                    {
                        foreach (var ev in ViewData["events"] as IEnumerable<Website.Models.Event>)
                        {
                            if (ev.Type.Description == "Anniversary")
                            {
                              <li><a id=@string.Format("event_{0}", ev.Id) class="t-group" href="#">@ev.EventTitle</a></li>
                            <div class="tooltip">
	                        <img src="@Url.Content("~/Content/Events/anniversary.jpg")" alt="Flying screens" style="float:left;margin:0 15px 20px 0" />
	                            <table style="margin:0">
		                            <tr>
			                            <td class="label">Description</td>
			                            <td>@ev.EventDescription</td>
		                            </tr>
		                            <tr>
			                            <td class="label">Date</td>
			                            <td>@ev.EndDate.Day</td>
		                            </tr>
		                            <tr>
			                            <td class="label">ContactPerson</td>
			                            <td>@ev.ContactPerson</td>
		                            </tr>
		                            <tr>
			                            <td class="label">ContactNumber</td>
			                            <td>@ev.ContactNumber</td>
		                            </tr>		
	                            </table>
                            </div>

                         <script type="text/javascript">$("@string.Format("#event_{0}", ev.Id)").tooltip({ effect: 'slide'});</script> 
                            }
                        }
                    }
                    </ul>
                    </div>
                </li>
                
            </ul> 
        </div>
    	<div class="clear"></div>
    </div>

    
</div>

<div id="footer">
      <div class="footer-content">

        <div class="footer-box">
            <h4>About our site</h4>

            <p>
               This is family website developed to connect with the family across the globe. This websites has no commercial intentions
               and does not make any profit other than family bonding. 
            </p>
        </div>
        
        <div class="footer-box">
            <h4>Contacts</h4>

            <ul>
              <li><a href="#">Contact 1</a></li>
              <li><a href="#">Contact 2</a></li>
              <li><a href="#">Contact 3</a></li>
            </ul>
        </div>
        
        <div class="footer-box end-footer-box">
            <h4>Search our site</h4>

            <form action="#" method="get">
                <p>
                    <input type="text" id="searchquery" size="18" name="searchterm" />

                    <input type="submit" id="searchbutton" value="Search" class="formbutton" />
                </p>
            </form>
        </div>     
        <div class="clear"></div> 
    </div>
    <div id="footer-links">

            <p>&copy; Copyright 2011 Kallivayalil Family. All rights reserved. Website designed with help of <a href="http://www.spyka.net">spyka</a> 
    </div>  
</div>
</div> 

@(Html.Telerik().ScriptRegistrar().jQuery(false));

</body>
</html>


