@model Website.Models.Phone

@using (Html.BeginForm("Edit","Phone"))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Phone</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Type.Id)
            @Html.ValidationMessageFor(model => model.Type.Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Number)
            @Html.ValidationMessageFor(model => model.Number)
        </div>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-field">
            @Html.LabelFor(model => model.CreatedDateTime):
            @Html.TextBoxFor(model => model.CreatedDateTime, new { @readonly = "readonly" })
        </div>

        <div class="editor-field">
            @Html.LabelFor(model => model.UpdatedDateTime):
            @Html.TextBoxFor(model => model.UpdatedDateTime, new { @readonly = "readonly" })
        </div>

        <div class="editor-field">
            @Html.LabelFor(model => model.CreatedBy):
            @Html.TextBoxFor(model => model.CreatedBy, new { @readonly = "readonly" })
        </div>

        <div class="editor-field">
            @Html.LabelFor(model => model.UpdatedBy):
            @Html.TextBoxFor(model => model.UpdatedBy, new { @readonly = "readonly" })
        </div>

        <p>
            <input type="submit" value="Save"/>
        </p>
    </fieldset>
}
