<script type="text/javascript" src="@Url.Content("~/Scripts/Custom/familytree.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.poshytip.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jit.js")"></script>
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>

<link rel="stylesheet" href="@Url.Content("~/Content/base.css")" type="text/css" media="screen" />
<link rel="stylesheet" href="@Url.Content("~/Content/Spacetree.css")" type="text/css" media="screen" />
<link rel="stylesheet" href="@Url.Content("~/Content/tip-yellow/tip-yellow.css")" type="text/css" media="screen" />

<script type="text/javascript">
    $(document).ready(function () {
        var constituentId =6;
        init(constituentId);
    });
</script>
<div id="center-container">
    <div id="infovis"></div>    
</div>

<script id="nodePopupTemplate" type="text/x-jQuery-tmpl">
   <div>
<table>
  <td class="popup-content">
    {{if name}} 
  <div class="popup-fullname">
  <span class="popup-spousename">{{if memberUrl}} 
  <a class="popup-member" href="${memberUrl}">
  ${name}</a>{{else}} ${name}
  {{/if}}</span>
  </div>{{/if}} 
  <div class ="popup-children">
  {{if spouseName}}
  <div class="popup-spouse"> married to
  <span class="popup-spousename">{{if spouseUrl}} 
  <a class="popup-spouse" href="${spouseUrl}">
  ${spouseName}</a>{{else}} ${spouseName} {{/if}}</span>
  </div>{{/if}} 
  {{if marriagedate}} 
  <div class="popup-marriage">on:&#160; 
  <span class="popup-date">${marriagedate}</span>
  </div>{{/if}}  {{if parents}} <div class="popup-child">born to: 
    <span class="popup-parentname"> ${parents}</span>
  </div>{{/if}}
  </div></td></tr>
</table>
</div>
</script>

<script id="nodeTemplate" type="text/x-jQuery-tmpl">
    <label class="label">${name}</label>  <br/>
    <label class="label">${spouseName}</label> 
</script>




