@model Website.Models.Constituent
 
 <script type="text/javascript">
     $(function () {
         $("#BornOn").datepicker();
         $("#DiedOn").datepicker();
     });
	</script>

<div id="profile">
<fieldset   id="viewProfileDetails" class="profileDetails">
    <div style="float: left; clear: left; width: 748px; ">
        <span class="label">First Name</span>
        <span id="labelFirstName" class="viewField">@Model.Name.FirstName</span>
        <span class="label">Gender</span>
        <span id="labelGender" class="viewField">@Model.Gender</span>
        <span class="label">MaritialStatus</span>
        <span id="labelMaritalStatus" class="viewField">@Model.MaritialStatus</span>        
    </div>

    <div style="float: left; clear: left; width: 748px; ">
        <span class="label">Middle Name</span>
        <span id="labelMiddleName" class="viewField">@Model.Name.MiddleName</span>
        <span class="label">BranchName</span>
        <span id="labelBranchName" class="viewField">@Model.BranchName.Description</span>
        <span class="label">BornOn</span>
        <span class="viewfield">@String.Format("{0:g}", Model.BornOn)</span>
    </div>
    
    <div style="float: left; clear: left; width: 748px;">
        <span class="label">Last Name</span>
        <span id="labelLastName" class="viewField">@Model.Name.LastName</span>
        <span class="label">HouseName</span>
        <span id="labelHouseName" class="viewField">@Model.HouseName</span>
        <span class="label">DiedOn</span>
        <span class="viewfield">@String.Format("{0:g}", Model.DiedOn)</span>
    </div>  
    
    <div class="hidden">
        <span id="lblHasExpired">@Model.HasExpired</span>
        <span id="lblIsRegistered" >@Model.IsRegistered</span>
        <span  id="lblNameId" >@Model.Name.Id</span>
        <span id="lblCreatedDateTime" >@Model.CreatedDateTime</span>
        <span id="lblCreatedBy" >@Model.CreatedBy</span> 
     </div>
    <input id="BtnUpdateProfile" type="submit" class="profileButton" onclick="edit()" value="Edit" />
</fieldset>

<fieldset   id="editProfileDetails" class="profileDetails hidden">
        <div style="float: left; clear: left; width: 748px;">
            First Name : <input class="editField" type="text" name="input" id="FirstName" value="@Model.Name.FirstName"/>
            Gender : <input   class="editField" type="text" name="input" id="Gender" value="@Model.Gender"/>
            MaritalStatus : <input class="editField" type="text" name="input" id="MaritialStatus" value="@Model.MaritialStatus"/>
        </div> 

         <div style="float: left; clear: left; width: 748px;">
            Middle Name :<input class="editField" type="text"  name="input" id="MiddleName" value="@Model.Name.MiddleName"/>
            BranchName : <select class="editField" name="input" id="BranchName">
                        @if (ViewData["branchTypes"] != null)
                        {   
                            foreach (var ev in ViewData["branchTypes"] as IEnumerable<Website.Models.ReferenceData.BranchType>){
                                if(@Model.BranchName.Description.Equals(ev.Description))
                                {<option value=@string.Format("{0}",ev.Id) selected="selected">@ev.Description</option>}
                              else
                                {<option value=@string.Format("{0}",ev.Id)>@ev.Description</option>}
                            }
                        }
                         </select>
            BornOn : <input class="editField" type="text" name="input" id="BornOn" value="@Model.BornOn"/>
        </div> 
    
        <div style="float: left; clear: left; width: 748px;">
            Last Name : <input class="editField" type="text" name="input"  id="LastName" value="@Model.Name.LastName"/>
            HouseName : <input  class="editField"  type="text" name="input"  id="HouseName" value="@Model.HouseName"/>
            DiedOn : <input class="editField" type="text" name="input"  id="DiedOn" value="@Model.DiedOn"/>
        </div>
        
        <div class="hidden">
            <input class="editField" type="text" name="input"  id="HasExpired" value="@Model.HasExpired"/>
            <input  class="editField"  type="text" name="input"  id="IsRegistered" value="@Model.IsRegistered"/>
            <input class="editField" type="text" name="input"  id="NameId" value="@Model.Name.Id"/>
            <input class="editField" type="text" name="input"  id="CreatedDateTime" value="@Model.CreatedDateTime"/>
            <input class="editField" type="text" name="input"  id="CreatedBy" value="@Model.CreatedBy"/>
        </div>


         <input id="personUpdate" type="submit" class="profileButton"  value="Save"/>
      
</fieldset>
     
</div>

